.root {
  // position: absolute;
  // bottom: 0;
  // right: 0;
  display: flex;
  // letter-spacing: 0.5px;
  font-family: 'IBM Plex Sans', sans-serif;
  margin-bottom: 3rem;
<<<<<<< HEAD

  @media only screen and (max-width: 550px) {
    flex-direction: column;
    align-items: flex-start;
    & > div {
      margin-bottom: 1rem;
      align-items: flex-start;
    }
  }
=======
>>>>>>> master

  & > div {
    flex: 1;
  }
  & > div:first-of-type {
    text-align: left;
  }
  & > div:last-of-type {
    text-align: right;
  }

  p {
    font-size: 0.9rem;
    padding-bottom: 5px;
  }

  a {
    width: 24px;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    margin-left: 5px;
  }

  strong {
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-right: 5px;
  }
}

.social {
  @media only screen and (max-width: 550px) {
    text-align: left;
  }
}
