.root {
<<<<<<< HEAD
  display: flex;
  color: var(--dark);
}

.header {
  display: none;
=======
>>>>>>> master
  width: 100%;
  margin-bottom: 1.45rem;
  position: relative;
  flex-direction: column;

  & > div {
    display: flex;
  }

  a:hover,
  a:active {
    text-decoration: none;
  }
  @media only screen and (min-width: 551px) {
    display: flex;
  }
}

.title {
  display: flex;
  align-items: center;
  @media only screen and (max-width: 720px) {
    font-size: 12px;
  }
}

.header-mobile {
  display: none;
  width: 100%;
  border-bottom: 1px solid var(--gray);
  margin-bottom: 15px;
  @media only screen and (max-width: 550px) {
    display: flex;
  }
  & > div {
    display: flex;
    align-items: center;
    flex: 1;
  }
}

.title-mobile {
  font-size: 8px;
  display: flex;
  flex: 1;
  align-items: center;
}

.menu-icon {
  cursor: pointer;
}
