.root {
  position: relative;
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
  box-sizing: border-box;
  background: rgba(255, 255, 255, 0.4);
  border-radius: 8px;
  display: block;

  @media only screen and (max-width: 767px) {
    width: 100%;
    padding: 0;
  }
  @media only screen and (min-width: 768px) {
    width: 750px;
  }
  @media only screen and (min-width: 992px) {
    width: 970px;
  }
  @media only screen and (min-width: 1200px) {
    width: 1170px;
  }
}

.main {
  display: flex;
}
