.list {
  list-style: none;
  margin: 0;
  padding: 10px 5px;
  font-size: 1.25rem;
  & > li {
    display: inline-block;
    text-transform: uppercase;
    margin: 0;
    margin-right: 1rem;
    & > a {
      &:hover {
        border-bottom: 2px solid var(--gray);
      }
      color: var(--gray);
      & > span {
        padding-bottom: 2px;
      }
    }
    & > a[aria-current] {
      border-bottom: 2px solid var(--gray);
    }
  }
}
