.root {
  // padding: 1.25rem;
  // margin-bottom: 1.25rem;
  // border: 1px solid #e9ecef;
  // border-left-width: 0.25rem;
  // border-radius: 0.25rem;
  // border-left-color: #10b981;

  h3 {
    font-size: 1.5rem;
  }

  p {
    font-size: 1.2rem;
  }
}

.news {
  &:not(:first-of-type) {
    margin-bottom: 0.5rem;
  }

  @media only screen and (max-width: 720px) {
    padding: 0px 10px;
  }
}
