@font-face {
  font-family: 'CrimsonPro';
  font-display: swap;
  src: url('../fonts/CrimsonPro-Regular.ttf') format('truetype');
  font-weight: 400;
}

@font-face {
  font-family: 'CrimsonPro';
  font-display: swap;
  src: url('../fonts/CrimsonPro-Bold.ttf') format('truetype');
  font-weight: 700;
}

@font-face {
  font-family: 'CrimsonPro';
  font-display: swap;
  src: url('../fonts/CrimsonPro-SemiBold.ttf') format('truetype');
  font-weight: 600;
}

@font-face {
  font-family: 'SourceSerifPro';
  font-display: fallback;
  src: url('../fonts/SourceSerifPro-Regular.ttf') format('truetype');
  font-weight: 400;
}

@font-face {
  font-family: 'SourceSerifPro';
  font-display: fallback;
  src: url('../fonts/SourceSerifPro-SemiBold.ttf') format('truetype');
  font-weight: 600;
}

@font-face {
  font-family: 'SourceSerifPro';
  font-display: fallback;
  src: url('../fonts/SourceSerifPro-Bold.ttf') format('truetype');
  font-weight: 700;
}

@font-face {
  font-family: 'IBMPlexSans';
  font-display: swap;
  src: url('../fonts/IBMPlexSans-Regular.ttf') format('truetype');
  font-weight: 400;
}

@font-face {
  font-family: 'IBMPlexSans';
  font-display: swap;
  src: url('../fonts/IBMPlexSans-SemiBold.ttf') format('truetype');
  font-weight: 600;
}

@font-face {
  font-family: 'IBMPlexSans';
  font-display: swap;
  src: url('../fonts/IBMPlexSans-Bold.ttf') format('truetype');
  font-weight: 700;
}
