:root {
  --dark: #373740;
  --gray: #717171;
  --gray-light: #ccc;
  --main-green: #d5ebda;
  --dark-green: #10b981;
  --blue: #00b;
}

h1,
h2,
h3 {
  letter-spacing: 1px;
  margin: 0;
  font-family: 'Source Serif Pro', serif;
  font-weight: 400;
}

h1 {
  color: var(--dark);
  font-size: 4em;
  line-height: 1.15;
}

h2 {
  color: var(--gray);
  font-size: 1.5em;
  padding-left: 4px;
}

html {
  overflow-x: hidden;
  background-color: #ffffff;
  min-width: 450px;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='12' viewBox='0 0 20 12'%3E%3Cg fill-rule='evenodd'%3E%3Cg id='charlie-brown' fill='%234aab87' fill-opacity='0.17'%3E%3Cpath d='M9.8 12L0 2.2V.8l10 10 10-10v1.4L10.2 12h-.4zm-4 0L0 6.2V4.8L7.2 12H5.8zm8.4 0L20 6.2V4.8L12.8 12h1.4zM9.8 0l.2.2.2-.2h-.4zm-4 0L10 4.2 14.2 0h-1.4L10 2.8 7.2 0H5.8z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

body {
  margin: 0;
  padding: 0px 10px;
  font-family: 'Crimson Text', serif;
}

main {
  min-height: 50vh;
  margin-bottom: 2.5rem;
<<<<<<< HEAD
}

hr {
  background: var(--gray);
}

.shadow-md {
  /* box-shadow: 0 4px 6px -1px rgb(0 0 0 / 10%), 0 2px 4px -1px rgb(0 0 0 / 6%); */
}

.callout-left {
  padding: 1.25rem;
  margin-bottom: 1.25rem;
  border: 1px solid #e9ecef;
  border-left-width: 0.25rem;
  border-radius: 0.25rem;
  border-left-color: #10b981;
}

.callout-right {
  padding: 1.25rem;
  margin-bottom: 1.25rem;
  border: 1px solid #e9ecef;
  border-right-width: 0.25rem;
  border-radius: 0.25rem;
  border-right-color: #10b981;
=======
>>>>>>> master
}
