:root {
  --dark: #373740;
  --gray: #717171;
  --gray-light: #ccc;
  --blue: #00b;
}

h1,
h2,
h3 {
  letter-spacing: 1px;
  margin: 0;
  font-family: 'Source Serif Pro', serif;
  font-weight: 400;
}

h1 {
  color: var(--dark);
  font-size: 4rem;
  line-height: 1.15;
}

h2 {
  color: var(--gray);
  font-size: 1.5rem;
  padding-left: 4px;
}

body {
  margin: 0;
  font-family: 'Crimson Text', serif;
}

main {
  min-height: 50vh;
  margin-bottom: 2.5rem;
}
