.root {
  display: flex;
  @media only screen and (max-width: 720px) {
    flex-direction: column;
  }
}

.images-container {
  display: flex;
  flex: 1;

  .main-image {
    display: none;
  }

  & > div {
    flex: 1;
    display: flex;
    flex-direction: column;
    @media only screen and (min-width: 1200px) {
      margin-left: -5px;
    }
  }
}

.article-container {
  flex: 1;
  padding: 10px;
  font-size: 1.25rem;
  line-height: 1.5;
  padding-top: 0px;
  h3 {
    font-size: 2rem;
    margin: 0;
    margin-bottom: 1rem;
  }
  div {
    float: left;
    margin-right: 10px;
  }
  p {
    color: #888;
    margin-bottom: 2rem;
    @media only screen and (max-width: 720px) {
      margin-bottom: 1rem;
    }
  }
}

.grid-image {
  margin: 5px;
}

.image-panel-small {
  @media only screen and (min-width: 721px) {
    display: none !important;
  }
}
.image-panel-large {
  @media only screen and (max-width: 1199px) {
    display: none !important;
  }
}
.image-panel-mid {
  @media only screen and (max-width: 721px) {
    display: none !important;
  }
}
