html {
  @media only screen and (max-width: 991px) {
    font-size: 14px;
  }
  @media only screen and (min-width: 992px) {
    font-size: 14px;
  }
  @media only screen and (min-width: 1200px) {
    font-size: 16px;
  }
}

main {
  @media only screen and (max-width: 720px) {
    flex-direction: column;
  }
}
